.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login form{
  margin: 5%;
  text-decoration: white;
}

.Login form > button{
  margin-top: 5%;
  margin-left: 10px;
  text-decoration: white;
}
.Login form > Label{
  margin-right: 3%;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
}
.nav > div{
  padding: 0.6%;
}

.nav > div:first-child{
  padding-left: 6%;
  font-size: 20px;
  font-weight: 500;
}

.userNameHead {
  font-size: 18px;
  font-weight: 700;
}
.nav > div:last-child{
  padding-right: 4%;
}


.main{
  display: flex;
  height: 91%;
  justify-content: space-between;
}


.homepage{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.chat{
  width: 60%;
  overflow: auto;
  padding-bottom: 4.5%;
}

.chat > Card{
  align-self: center;
}

.notMyMessage{
  float: left;
  clear: both;
}

.myMessage{

  float: right;
  clear: both;
}

.enterMessage{
  display: flex;
}
